::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #111827;
}
::-webkit-scrollbar-thumb{
    background: #9055ff;
    border-radius: 10px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #0B0F1A;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --main-color: #ffffff;
    --sec-color: #9055ff;
    --about-contact: #b5b7d1;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;

}

.navbar {
    background-color: #111827;
    margin: 0;
    border-bottom: 1px solid rgb(70, 74, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    margin: 10px 0;
    list-style: none;
    user-select: none;
}

.navbar .last li {
    margin: 10px 8px;
}

.navbar a:link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 0.1px;
    font-size: 1rem;
    transition: color 0.2s ease-in 0s;
}

.navbar a:visited {
    color: var(--main-color);
}

.navbar a:hover {
    color: #c7c7c7;
}

.navbar a:active {
    color: var(--main-color);
}

.navbar .logoh1 {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

.navbar .x {
    color: var(--sec-color);
}

.navbar .first {
    margin-left: -21px;

}

.navbar .last ul {
    display: flex;
}

.navbar .last {
    margin-right: 10px;
    font-size: 16px;
}

.last a.activebutton {
    text-decoration: underline;
    text-decoration-color: var(--sec-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.container {
    padding-left: 25px;
}

.frontend {
    color: rgb(183, 189, 221);
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    margin-top: 22px;
    border: 1px solid rgb(186, 190, 216);
    display: inline-block;
    background-color: #0B0F1A;
    border-radius: 5px;
    padding: 4px;
}

main {
    flex: 1;
}

.container .experiences {
    color: var(--sec-color);
}

.container .mainh1 {
    color: var(--main-color);
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    margin-top: 10px;
    text-transform: capitalize;
    line-height: 30px;
}

.contactme {
    color: black;
    border: 2px solid rgb(191, 166, 231);
    background-color: var(--sec-color);
    text-decoration: none;
    user-select: none;
    padding: 8px 6px;
    margin-top: 10px;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    border-radius: 4px;
}

.clickhere {
    color: rgb(205, 207, 221);
}

.aofcontact a:link {
    color: var(--main-color);
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in 0s;
}

.aofcontact a:hover {
    background-color: #7647ce;
}

.container .intro {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    width: 300px;
    margin-top: 20px;
}

.skillbox {
    display: flex;
    margin-top: 20px;


}

.skill {
    color: var(--main-color);
    background-color: #0B0F1A;
    margin: 0 10px;
    padding: 16px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(123, 104, 228, 0.3);
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0 4px 10px rgba(116, 104, 228, 0.3);


}

.skill1 {
    font-weight: 700;
}

.skill2 {
    font-weight: 700;
    padding: 16px 16px;

}

.skill3 {
    font-weight: 700;
    padding: 16px 16px;
}

.mskill {
    color: var(--sec-color);
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    margin-top: 45px;
    font-size: 1.3rem;

}

.ah3 {
    color: var(--sec-color);
    font-family: "Work Sans", sans-serif;
    margin-top: 45px;
    font-size: 1.3rem;
}

.aboutmeh3 {
    margin-top: 11px;
    width: 300px;
    color: var(--main-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.footpara {
    color: var(--main-color);
    margin: 25px 40px;

}

.footer {
    background-color: #111827;
    border-top: 1px solid rgb(70, 74, 97);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: center;

}

.lastcontent {
    color: var(--sec-color);
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 50px;
}

.points {
    color: var(--main-color);
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 1rem;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.firstabout h2 {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    margin-left: 22px;
    margin-top: 25px;
}

.firstabout .me {
    color: var(--sec-color);
}

.about>div {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    border: 2px solid white;
    margin: 10px 10vw;
    padding: 3vh 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;


}

.about>div svg {
    margin: 0 15px;
    margin-left: 8px;
}

.iconorname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.introname {
    color: var(--about-contact);
    font-size: 0.9rem;
}

section {
    flex: 1;
}

.contactof {
    color: var(--main-color);
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    margin-left: 22px;
    margin-top: 25px;

}

.contme {
    color: var(--sec-color);
}

.iconorname a:link {
    color: var(--main-color);
    text-decoration: underline;
    transition: color 0.2s ease-in 0s;
}

.iconorname a:visited {
    color: var(--main-color);
}

.iconorname a:hover {
    color: var(--sec-color);
    text-decoration: underline;

}

.iconorname a:active {
    color: var(--main-color);
}

@media only screen and (min-width: 480px) {
    .navbar li {
        margin: 25px 0;
    }

    .navbar .last li {
        margin: 25px 16px;
    }

    .navbar a:link {
        font-weight: 600;
        letter-spacing: 0.3px;
        font-size: 1.1rem;
    }

    .navbar .logoh1 {
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
    }

    .navbar .first {
        margin-left: -15px;

    }

    .navbar .last {
        margin-right: 10px;
    }

    .last a.activebutton {
        text-decoration-thickness: 3.5px;
        text-underline-offset: 13px;
    }

    .container {
        padding-left: 2rem;
    }

    .frontend {
        font-size: 1rem;
        margin-top: 30px;
        border-radius: 7px;
        padding: 4px;
    }


    .container .mainh1 {
        font-size: 2rem;
        margin-top: 15px;
        line-height: 32px;
    }

    .contactme {
        padding: 10px 8px;
        margin-top: 15px;
        font-size: 1rem;
    }

    .container .intro {
        font-size: 1.1rem;
        width: 350px;
        margin-top: 25px;
    }

    .skillbox {
        margin-top: 25px;
    }

    .skill {
        margin: 0 15px;
        padding: 26px 20px;
        font-size: 1.1rem;
    }


    .skill2 {
        padding: 16px 26px;

    }

    .skill3 {
        padding: 16px 20px;
    }

    .mskill {
        margin-top: 45px;
        font-size: 1.6rem;

    }

    .h3 {
        font-size: 1.6rem;
    }

    .aboutmeh3 {
        margin-top: 15px;
        width: 350px;
        font-size: 1.1rem;
    }

    .footpara {
        margin: 28px 40px;

    }

    .footer {
        font-size: 1rem;

    }

    .lastcontent {
        font-size: 1.6rem;
        margin-top: 55px;
    }

    .points {
        line-height: 30px;
        font-size: 1.1rem;
    }

    .firstabout h2 {
        font-size: 2rem;
        margin-left: 32px;
        margin-top: 25px;
    }

    .about>div {
        margin: 10px 10vw;
        padding: 5vh 10px;
        border-radius: 10px;


    }

    .about>div svg {
        margin: 0 20px;
        margin-left: 14px;
    }

    .introname {
        font-size: 1rem;
    }

    .contactof {
        font-size: 2rem;
        margin-left: 32px;
        margin-top: 25px;

    }
}

@media only screen and (min-width: 1024px) {
    .navbar li {
        margin: 20px 0;
    }

    .navbar .last li {
        margin: 20px 16px;
    }

    .navbar a:link {
        font-weight: 650;
        letter-spacing: 1px;
        font-size: 1.1rem;
    }

    .navbar .logoh1 {
        font-size: 1.8rem;
    }

    .navbar .first {
        margin-left: -10px;
    }

    .navbar .last {
        margin-right: 5px;
    }

    .container {
        padding-left: 2rem;
    }

    .container .mainh1 {
        font-size: 2.5rem;
        line-height: 40px;
    }

    .contactme {
        font-size: 1.1rem;
        margin-top: 1.8rem;
    }

    .container .intro {
        font-size: 1.3rem;
        width: 800px;
        margin-top: 30px;
    }

    .skillbox {
        margin-top: 2.5rem;
    }

    .skill {
        font-size: 1.3rem;
    }

    .mskill {
        font-size: 2rem;

    }

    .h3 {
        font-size: 2rem;
    }

    .aboutmeh3 {
        width: 900px;
        font-size: 1.3rem;
    }

    .lastcontent {
        font-size: 1.8rem;
    }

    .points {
        line-height: 2.5rem;
        font-size: 1.3rem;
    }

    .firstabout h2 {
        font-size: 2.5rem;
        margin-left: 40px;
        margin-top: 30px;
    }

    .about {
        margin-bottom: 2rem;
    }

    .about>div {
        margin: 10px 10vw;
        padding: 5vh 10px;
        border-radius: 10px;

    }

    .about>div svg {
        margin: 0 30px;
        margin-left: 25px;
    }

    .introname {
        font-size: 1.2rem;
    }

    .contactof {
        font-size: 2.5rem;
        margin-left: 40px;
        margin-top: 30px;

    }

    .iconorname a:link {
        font-size: 1.2rem;
    }

    .workname {
        font-size: 1.2rem;
    }
}
